.menu, .menu ul, .menu li, .menu a 
	{
		margin: 0;
		padding: 0;
		border: none;
		outline: none;
	}
 
.menu 	{
		height: 40px;
		width: 505px;
	}
 
.menu li 
	{
    	position: relative;
    	list-style: none;
    	float: left;
    	display: block;
    	height: 40px;
	}

.menu li a 
	{
    	display: block;
    	padding: 0 14px;
    	margin: 6px 0;
    	line-height: 28px;
    	text-decoration: none;
	}
 
.menu li:first-child a 
	{ 
		border-left: none; 
	}

.menu li:last-child a
	{ 
		border-right: none; 
	}
 
.menu li:hover > a 
	{ 
		color: #8fde62; 
	}

.menu ul 
	{
    	position: absolute;
    	top: 40px;
    	left: 0;
		opacity: 0;
		background: #1f2024;
	}
 
.menu li:hover > ul 
	{ 
		opacity: 1; 
	}
 
.menu ul li 
	{
    	height: 0;
    	overflow: hidden;
    	padding: 0;
	}
 
.menu li:hover > ul li 
	{
    	height: 36px;
    	overflow: visible;
    	padding: 0;
	}

.menu ul li a 
	{
    	width: 100px;
    	padding: 4px 0 4px 40px;
    	margin: 0;
     	border: none;
    	border-bottom: 1px solid #353539;
	}
 
.menu ul li:last-child a 
	{ 
		border: none; 
	}


